.contacts__list {
  margin: 0 auto;
  width: 400px;
  overflow: hidden;
}

.contacts__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: rgb(128, 102, 102);
  border: 1px solid rgb(209, 209, 209);
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 4px 4px 2px rgba(187, 187, 187, 0.3);
}

.contacts__list-name {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

.contacts__list-number {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.contacts__list-button {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 2px 4px 4px 2px rgba(187, 187, 187, 0.3);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list-button:hover {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  background-color: #37a1d3;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
